%c-main {
    coloe: #02899f
}

$c-main: #02899f;

%font-noto {
    font-family: 'Noto Sans JP', sans-serif;
}

%font-robot {
    font-family: 'Roboto', sans-serif;
}

@mixin ipadpro {
    @media only screen and (max-width: 1024px) {
        @content
    }
}

@mixin mobile {
    @media only screen and (max-width: 768px) {
        @content
    }
}


#training {
    margin: 290px 0 100px;
    @include mobile{
        margin: 100px 0 20px;
    }

    .color-green {
        color: #b0dd1e;
    }

    .bg-green {
        background-color: #b0dd1e;
    }

    .color-pink {
        color: #ed43ac;
    }

    .bg-pink {
        background-color: #ed43ac;
    }

    .color-pink2 {
        color: #ad5291;
    }

    .bg-pink2 {
        background-color: #ad5291;
    }

    .color-orange {
        color: #ff8a16;
    }

    .bg-orange {
        background-color: #ff8a16;
    }

    .color-blue2 {
        color: #3342fa;
    }

    .bg-blue2 {
        background-color: #3342fa;
    }

    .color-yellow2 {
        color: #f2e54a;
    }

    .bg-yellow2 {
        background-color: #f2e54a;
    }

    .color-default {
        color: #333;
    }



    .flex {
        display: flex;
    }

    .heading {
        font-size: 4rem;
        color: $c-main;
        font-weight: 700;
        text-align: left;
        line-height: 1;
        margin-top: 1rem;

        @include mobile {
            font-size: 2rem;
        }

        &.center {
            text-align: center;
        }
    }

    .sub-heading {
        margin-top: 3rem;
    }

    .title {
        line-height: 1;

        &.left {
            text-align: left;
        }

        span {
            color: #333;
            font-size: 2.4rem;
            font-weight: 700;

            @include mobile {
                font-size: 2rem;
            }
        }
    }

    .text-desc {
        font-size: 1.6rem;
        color: #333;
        letter-spacing: 0.1rem;

        @include mobile {
            font-size: 1.4rem;
        }
    }

    .bg-decoration {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .step {
        padding-bottom: 4rem;

        &__container {
            width: 100%;
            max-width: 53rem;
            padding-top: 4rem;
            position: relative;

            @include mobile {
                padding-top: 0;
            }

            img {
                display: block;
            }
        }

        &__content {
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translate(45px, -10px);

            @include mobile {
                top: 50%;
                left: 0;
                right: 0%;
                transform: translate(0, -50%);
            }
        }

        &__name {

            color: #008ea0;
            font-weight: 700;
            font-size: 2.4rem;

            span {
                @extend %font-robot;
                font-size: 12rem;
                line-height: 1;
            }

            @include mobile {
                text-align: center;
                font-size: 4vw;

                span {
                    font-size: 4vw;
                }
            }
        }
    }


    .avatar {
        display: block;
        width: 12rem;
        min-width: 12rem;
        height: 12rem;

        @include mobile {
            width: 4rem;
            min-width: 4rem;
            height: 4rem;
        }

        &.avatar--green {
            background-color: #b0dd1e;
        }

        &.avatar--pink1 {
            background-color: #ed43ac;
        }

        &.avatar--pink2 {
            background-color: #ad5291;
        }
    }

    .train {
        text-align: center;
        padding: 0 4rem;

        @include mobile {
            padding: 0;
        }

        &__inner {}

        &__table {
            margin-top: 5rem;
            padding-bottom: 1rem;
            overflow-x: auto;
            overflow-y: hidden;

            .t-table {
                margin-top: 3rem;
                min-width: 100rem;
                width: 100%;
                border-spacing: 2px;
                border-collapse: separate;

                .t-head {
                    th {
                        height: 6rem;
                        // padding: 2rem 3rem;
                        background-color: #67b8c5;
                        color: #fff;
                        font-weight: 700;
                        box-shadow: 0 0 3px #d5d5d5;

                        span {
                            width: 100%;
                            height: 100%;
                            padding: 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        &:nth-of-type(1) {
                            width: 13rem;
                        }

                        &:nth-of-type(2) {
                            width: 31rem;
                        }

                        &:nth-of-type(3) {
                            width: 31rem;
                        }

                        &:nth-of-type(4) {
                            width: 18rem;
                        }

                        &:nth-of-type(5) {
                            width: 6rem;
                            font-size: 2.4rem;
                            background-color: #02899f;
                        }
                    }
                }

                .t-body {

                    td {
                        height: 8rem;
                        padding: .5rem;
                        box-shadow: 0 0 3px #d5d5d5;

                        span {
                            width: 100%;
                            height: 100%;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            vertical-align: middle;
                            font-weight: 700;
                        }

                        &:not(:nth-of-type(1)) {
                            span {
                                color: #02899f;
                                border-radius: 1rem;
                                background-color: #e5f3f5;
                            }

                        }
                    }
                }

                .t-footer {
                    box-shadow: 0 3px 6px #ddd;
                }
            }
        }
    }

    .voice {
        position: relative;
        margin-top: 8rem;
        overflow: hidden;

        @include mobile {
            margin-top: 4rem;
        }

        &__inner {

            .top-img {
                max-width: 80rem;
                width: 100%;
                border-radius: 3rem;
                overflow: hidden;
                margin-top: 5rem;

                @include mobile {
                    border-radius: 1rem;
                }

                img {
                    width: 100%;
                }
            }

            .step {
                margin-top: 4rem;

                &__container,
                &__desc {
                    margin-left: auto;
                }

                &__desc {
                    width: 100%;
                    max-width: 72rem;
                    margin-top: 1.5rem;

                    p {
                        line-height: 2.5;
                        min-height: 8rem;
                    }
                }

            }
        }

        .bg-decoration {
            top: 25rem;
            opacity: .3;
            overflow: hidden;
            width: 100%;
            bottom: 0;

            @include mobile {
                top: 40vw;
            }

            img {
                height: 100%;
                filter: blur(10px);
            }

        }
    }

    .comment-area {
        padding-top: 7.5rem;
        position: relative;

        .flex {
            max-width: calc(50% + 576px);
            width: 100%;
            margin-left: auto;
            padding: 0 2rem;

            @include ipadpro {
                max-width: 100%;
                flex-direction: column-reverse;
            }
        }

        .comment {
            width: 100%;
            max-width: calc(800px);

            // max-width: calc(50% + 240px);
            // 
            @include ipadpro {
                max-width: 100%;
                margin-top: 5rem;
            }

            &-block {
                width: 100%;
                display: flex;
                margin-bottom: 5rem;

                @include mobile {
                    margin-bottom: 3rem;
                }
            }

            &-wrap {
                width: 100%;
                padding-left: 3rem;
                padding-right: 3rem;

                @include mobile {
                    padding-left: 1rem;
                    padding-right: 0;
                }
            }
        }



        .comment-aside {

            max-width: 540px;
            min-width: 510px;
            padding-left: 5rem;

            @include ipadpro {
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 0;
            }

            @include mobile {
                min-width: 1px;
            }

            .circle--small,
            .circle--big {
                border-radius: 50%;
                overflow: hidden;
                position: relative;
            }

            .circle--small {
                width: 28rem;
                height: 28rem;
                border: 2rem solid #02899f;
            }

            .circle--big {
                width: 40rem;
                height: 40rem;
                border: 2rem solid #f2e54a;
                position: relative;
                left: 5.5rem;
                top: -6.5rem;
                z-index: -1;

                @include ipadpro {
                    position: static;
                    width: 28rem;
                    height: 28rem;
                }
            }

            .circle--small,
            .circle--big {
                @include mobile {
                    width: 40vw;
                    height: 40vw;
                    border-width: .5rem;
                }
            }
        }
    }

    .lecturer-area {
        position: relative;
        padding-top: 7.5rem;
        padding-bottom: 6.5rem;
        overflow: hidden;
        background-image: url('../images/training/bg_point.jpg');

        @include mobile {
            padding-top: 4rem;
            background-size: contain;
        }

        .bg-decoration {
            right: 0;
            bottom: 0;

            img {
                height: 100%;
            }
        }

        .heading {
            color: #fff;
            margin-bottom: 5rem;

            @include mobile {
                margin-bottom: 3rem;
            }
        }
    }

    .lectbox {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 4rem;
        background-color: #fff;
        border-radius: 4rem;
        border: 2rem solid #02899f;
        overflow: hidden;

        @include mobile {
            border-width: .5rem;
            border-radius: 1rem;
            padding: 2rem;
            flex-direction: column;
            align-items: center;
        }

        &-avatar {
            min-width: 28rem;
            height: 24rem;
            padding: 0 2rem;
            overflow: hidden;
            border-radius: 50%;
            display: block;

            @include mobile {
                padding: 0;
                width: 24rem;
                min-width: 24rem;
                height: 24rem;

                img {
                    height: 100%;
                }
            }
        }

        &-infor {
            padding: 0 2rem;

            @include mobile {
                text-align: center;
            }
        }


        &-logo {
            width: 24rem;
            margin-bottom: 2rem;

            @include mobile {
                margin: 2rem auto;
            }

            &.len {
                width: 40rem;

                @include mobile {
                    width: 22rem;
                }
            }
        }

        &-ver {
            color: #02899f;
            font-size: 1.6rem;
        }

        &-name {
            font-size: 2.4rem;
            color: #02899f;
            display: block;
            line-height: 1;
            margin-top: 1.5rem;
            margin-bottom: 2rem;

            @include mobile {
                font-size: 1.8rem;
                line-height: 1.2;
            }
        }
    }

    .chat-area {
        padding: 0 6rem;
        margin-top: 5rem;

        @include mobile {
            padding: 2rem;
            margin-top: 3rem;

        }

        .chat-item {
            position: relative;
            width: 100%;
            max-width: 74%;
            margin-top: .5rem;

            @include mobile {
                max-width: 100%;
            }

            &__inside {
                width: 100%;
                padding: 4rem;
                display: flex;
                align-items: center;
                border-radius: 2rem;
                overflow: hidden;
                box-shadow: 0 0 8px rgba(#000, .3);

                @include mobile {
                    padding: 2rem;
                }

                span {
                    position: relative;
                    top: -5px;
                    line-height: 1;
                    font-size: 4rem;
                    font-weight: 700;
                    align-self: flex-start;
                    padding-top: 1rem;
                    display: block;
                }

                .text-desc {
                    margin-left: 2.5rem;

                    @include mobile {
                        margin-left: 1.5rem;
                    }
                }
            }

            &::before,
            &::after {
                content: '';
                width: 2rem;
                height: 2rem;
                position: absolute;
                transform-origin: top;
            }

            &::before {
                box-shadow: 0 0 4px rgba(#000, .3);
                z-index: -1;
            }

            &:nth-of-type(odd) {

                .chat-item__inside {

                    background-color: #f2e54a;

                    span {
                        color: #333;
                    }
                }

                &::before,
                &::after {
                    background-color: #f2e54a;
                    left: 0;
                    top: 50%;
                    transform-origin: top;
                    transform: translate(0%, -50%) scaleX(1.5) rotate(45deg);
                }
            }

            &:nth-of-type(even) {
                margin-left: auto;
                top: -2.5rem;

                @include mobile {
                    top: -1.2rem;

                }

                .chat-item__inside {
                    background-color: #fff;

                    span {
                        color: #02899f;
                    }
                }

                &::before,
                &::after {
                    background-color: #fff;
                    right: 0;
                    top: 50%;
                    transform-origin: top;
                    transform: translate(100%, -50%) scaleX(1.5) rotate(45deg);
                }
            }
        }
    }

    .content {
        margin-top: 11rem 0;

        @include mobile {
            margin: 5rem 0;
        }

        .step {
            padding: 0;
            @include mobile{
                overflow: hidden;
            }

            &.step-03 {

                .step__container {
                    width: 100%;
                    max-width: 63rem;
                    height: 25rem;
                    min-height: 25rem;
                    padding-top: 0;
                    margin-top: 2rem;

                    @include mobile {
                        max-width: 100%;
                    }

                    img {
                        height: 100%;
                        @include mobile{
                            transform: scale(2);
                        }
                    }
                }

                .step__content {
                    left: 7.5rem;
                    right: 7.5rem;
                    transform: translate(0, -34px);

                    @include mobile {
                        left: 1rem;
                        right: 1rem;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }
            }

            &.step-04 {

                @include mobile{
                    margin-top: 3rem;
                }

                .step__container {
                    width: 100%;
                    max-width: 81.5rem;
                    height: 20rem;
                    min-height: 20rem;
                    padding-top: 0;
                    margin-top: 4rem;
                    margin-left: auto;



                    img {
                        height: 100%;
                        @include mobile{
                            transform: scale(2);
                        }
                    }
                }

                .step__content {
                    left: 14rem;
                    right: 0;
                    transform: translate(0, -34px);

                    @include mobile {
                        left: 1rem;
                        right: 1rem;
                        top: 50%;
                        transform: translate(0, -50%);
                    }

                    .text-desc {
                        padding-right: 13rem;

                        @include mobile {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    .voice-bttn-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 120px auto 160px auto;
        color: white;
    }

    @media screen and (max-width: 768px) {
        .voice-bttn-link {
            margin: 60px auto;
            justify-content: center;
        }
    }

    .voice-bttn-link>* {
        max-width: calc(50% - 10px);
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 768px) {
        .voice-bttn-link>* {
            min-width: 290px;
            padding: 0px 5px;
        }
    }

    .voice-bttn-link>* span {
        display: block;
        line-height: 6rem;
        border-radius: 30px;
        background-color: #ff8a16;
        text-align: center;
    }

    .voice-bttn-link>*.active {
        opacity: 0.6;
    }
}