#voice {
  color: #333333;
}
#voice a {
  color: inherit;
}
#voice img {
  display: block;
  max-width: 100%;
}
#voice button {
  outline: none;
}
#voice svg {
  max-width: 100%;
}
#voice .targetLink {
  position: relative;
}
#voice .targetLink .goLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#voice .ele-hover {
  opacity: 1;
  transition: all 0.3s ease;
}
#voice .ele-hover:hover {
  opacity: 0.8;
}
#voice .ele-hover.active {
  opacity: 1;
}
#voice .style-question {
  height: 440px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  #voice .style-question {
    min-height: 300px;
    height: 40vw;
  }
}
@media screen and (max-width: 768px) {
  #voice .style-question {
    flex-direction: column;
    height: auto;
  }
  #voice .style-question.revert .wrap-inner {
    flex-direction: column-reverse !important;
  }
}
#voice .style-question .bg-color {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#voice .style-question .bg-color::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
#voice .style-question .bg-color.orange::after {
  background-color: #ff8a16;
}
#voice .style-question .bg-color.right::after {
  transform-origin: bottom right;
  transform: skewY(-7.5deg);
}
#voice .style-question .bg-color.green::after {
  background-color: #b0dd1e;
}
#voice .style-question .bg-color.blue::after {
  background-color: #008ea0;
}
#voice .style-question .bg-color.violet::after {
  background-color: #ae5291;
}
#voice .style-question .bg-color.left::after {
  transform-origin: bottom left;
  transform: skewY(7.5deg);
}
#voice .style-question .wrap-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 70px;
}
#voice .style-question .wrap-inner > *:first-child {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  #voice .style-question .wrap-inner > *:first-child {
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  #voice .style-question .wrap-inner {
    flex-direction: column;
  }
}
#voice .style-question .wrap-inner figure {
  border-radius: 50%;
  border: 20px solid white;
}
@media screen and (max-width: 1024px) {
  #voice .style-question .wrap-inner figure {
    min-width: 300px;
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  #voice .style-question .wrap-inner figure {
    max-width: 280px;
    border: 10px solid white;
  }
}
#voice .style-question .wrap-inner .title-q {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.15rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  #voice .style-question .wrap-inner .title-q {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
#voice .title-question {
  color: white;
  letter-spacing: 0.1rem;
  display: flex;
  height: 80px;
  padding: 0px 40px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #voice .title-question {
    padding: 10px 20px;
    height: auto;
  }
}
#voice .title-question dt {
  font-size: 4rem;
  margin-right: 15px;
}
@media screen and (max-width: 768px) {
  #voice .title-question dt {
    font-size: 2rem;
  }
}
#voice .title-question dd {
  font-size: 2.4rem;
}
@media screen and (max-width: 768px) {
  #voice .title-question dd {
    font-size: 1.6rem;
  }
}
#voice .title-question.orange {
  background-color: #ff8a16;
}
#voice .title-question.green {
  background-color: #b0dd1e;
}
#voice .title-question.violet {
  background-color: #ae5291;
}
#voice .style-ul {
  padding: 35px 25px 55px;
}
@media screen and (max-width: 768px) {
  #voice .style-ul {
    padding: 15px 10px 25px;
  }
}
#voice .style-ul li {
  padding-left: 22px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #voice .style-ul li {
    padding-left: 18px;
  }
}
#voice .style-ul li::after {
  content: "";
  top: 10px;
  left: 0px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  #voice .style-ul li::after {
    top: 9px;
  }
}
#voice .style-ul span {
  display: inline-block;
}
#voice .style-ul.green li::after {
  background-color: #b0dd1e;
}
#voice .style-ul.violet li::after {
  background-color: #ae5291;
}
#voice .wrap-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#voice .wrap-chart h3 {
  line-height: 1;
  margin-bottom: 26px;
}
#voice .font20M {
  font-size: 2rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  #voice .font20M {
    font-size: 1.6rem;
  }
}
#voice .font20b {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #voice .font20b {
    font-size: 1.6rem;
  }
}
#voice .font24b {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 768px) {
  #voice .font24b {
    font-size: 1.8rem;
  }
}
#voice .font41 {
  font-size: 4.1rem;
  color: #02899f;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #voice .font41 {
    font-size: 2rem;
  }
}

#voice .w-h-100 {
  width: 100%;
  height: 100%;
}

#voice .w-100 {
  width: 100%;
}

#voice .h-100 {
  height: 100%;
}

#voice .w-100v {
  width: 100vw;
}

#voice .h-100v {
  height: 100vh;
}

#voice .wmax {
  max-width: 100%;
}

#voice {
  font-weight: 500;
}
#voice .container {
  max-width: 1080px;
  width: 100%;
  padding: 0px;
}
@media screen and (max-width: 1024px) {
  #voice .container {
    padding: 0px 20px;
  }
}
#voice .text-top {
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  #voice .text-top {
    margin-bottom: 40px;
  }
}
#voice .text-top p {
  line-height: 1.4;
}
@media screen and (max-width: 768px) {
  #voice .text-top p {
    line-height: 1.6;
  }
  #voice .text-top p span {
    display: inline;
  }
}
#voice .text-top .line2 {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  #voice .text-top .line2 {
    margin-top: 15px;
  }
}
#voice .text-top span {
  display: inline-block;
}
#voice .draw-chart figure {
  display: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #voice .draw-chart figure {
    display: block;
  }
  #voice .draw-chart svg {
    display: none;
  }
}
#voice .voice-main {
  display: none;
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  #voice .voice-main {
    padding: 10px;
  }
}
#voice .voice-main::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -2;
}
#voice .voice-main::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: -1;
  background-color: white;
}
@media screen and (max-width: 768px) {
  #voice .voice-main::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }
}
#voice .voice-main.active {
  display: block;
}
#voice .voice-main.yellow::after {
  background-color: #f2e54a;
}
#voice .voice-main.green::after {
  background-color: #b0dd1e;
}
#voice .voice-bttn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#voice .voice-bttn button {
  border: none;
  width: calc(50% - 10px);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #voice .voice-bttn button {
    width: calc(50% - 5px);
    line-height: 1.6;
    height: auto;
    font-size: 1.6rem;
    padding: 10px 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
#voice .voice-bttn button.green {
  background-color: #b0dd1e;
}
#voice .voice-bttn button.yellow {
  background-color: #f2e54a;
}
#voice .voice-title {
  text-align: center;
  line-height: 1;
  margin: 75px auto 45px;
}
@media screen and (max-width: 768px) {
  #voice .voice-title {
    margin: 40px auto 20px;
    line-height: 1.6;
  }
}
#voice .voice-multiPie {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
@media screen and (max-width: 768px) {
  #voice .voice-multiPie {
    margin-top: 30px;
  }
}
#voice .voice-multiPie > * {
  max-width: calc(100% / 3 - 10px);
}
@media screen and (max-width: 768px) {
  #voice .voice-multiPie > * {
    max-width: 100%;
  }
  #voice .voice-multiPie > *:not(:last-of-type) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1024px) {
  #voice .voice-multiPie svg {
    height: 30vw !important;
  }
}
@media screen and (max-width: 768px) {
  #voice .voice-multiPie {
    display: block;
  }
  #voice .voice-multiPie svg {
    height: auto !important;
  }
  #voice .voice-multiPie .voice-h3 {
    margin-bottom: 15px;
  }
}
#voice .voice-p span {
  display: inline-block;
}
#voice .voice-h3 {
  color: #02899f;
}
#voice .industry {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  #voice .industry {
    margin-top: 40px;
  }
}
#voice .industry-chart {
  margin: 75px auto 50px;
}
@media screen and (max-width: 768px) {
  #voice .industry-chart {
    margin: 40px auto 20px;
  }
}
#voice .industry-q.question1 {
  margin-top: 130px;
}
@media screen and (max-width: 768px) {
  #voice .industry-q.question1 {
    margin-top: 100px;
  }
}
#voice .industry-q.question1 .wrap-chart {
  margin: 70px auto 54px;
}
@media screen and (max-width: 768px) {
  #voice .industry-q.question1 .wrap-chart {
    margin: 30px auto 15px;
  }
  #voice .industry-q.question1 .wrap-chart svg {
    height: 82vw !important;
    max-height: 400px;
  }
}
#voice .industry-q.question2 {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  #voice .industry-q.question2 {
    margin-top: 40px;
  }
}
#voice .industry-q.question2 ul {
  margin-top: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  #voice .industry-q.question2 ul {
    margin-top: 30px;
  }
}
#voice .industry-q.question2 ul .title {
  text-align: center;
  line-height: 1;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #voice .industry-q.question2 ul .title {
    margin-bottom: 20px;
  }
}
#voice .industry-q.question2 ul .bg-content {
  padding: 15px;
  text-align: center;
  background-color: #efefef;
}
#voice .industry-q.question2 ul .bg-content.color {
  background-color: #fff3e7;
  color: #ff8a16;
}
#voice .industry-q.question2 ul .bg-content span {
  display: inline-block;
  line-height: 1.6;
}
#voice .industry-q.question2 ul .arrow {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
#voice .industry-q.question2 ul .arrow span {
  display: block;
  height: 20px;
  width: 80px;
  position: relative;
  overflow: hidden;
}
#voice .industry-q.question2 ul .arrow span::after,
#voice .industry-q.question2 ul .arrow span::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 50%;
  background-color: #efefef;
}
#voice .industry-q.question2 ul .arrow span::after {
  right: 0px;
  transform-origin: top left;
  transform: skewY(-26deg);
}
#voice .industry-q.question2 ul .arrow span::before {
  left: 0px;
  transform-origin: top right;
  transform: skewY(26deg);
}
#voice .industry-board {
  position: relative;
  z-index: 0;
  height: 520px;
  display: flex;
  align-items: center;
  border: 10px solid #02899f;
  border-radius: 40px;
  margin-top: 95px;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  #voice .industry-board {
    border: 5px solid #02899f;
    height: auto;
    padding: 60px 0px 40px;
    margin-top: 70px;
  }
}
#voice .industry-board dl {
  position: absolute;
  left: -30px;
  top: calc(-5px);
  display: flex;
  transform: translateY(-50%);
  justify-content: flex-start;
  align-items: center;
}
#voice .industry-board dl dt {
  border: 10px solid #02899f;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  #voice .industry-board dl dt {
    border: 5px solid #02899f;
  }
}
#voice .industry-board dl dd {
  background-color: #02899f;
  line-height: 6rem;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  position: relative;
  left: -90px;
  padding-left: 55px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  #voice .industry-board dl dd {
    line-height: 5rem;
    width: 250px;
    padding-left: 40px;
    left: -60px;
  }
}
#voice .industry-board ul {
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}
#voice .industry-board ul li {
  padding: 22px 25px;
}
#voice .industry-board ul li:nth-of-type(1) {
  background-color: #f7fce8;
}
#voice .industry-board ul li:nth-of-type(2) {
  background-color: #fefced;
}
#voice .industry-board ul li:nth-of-type(3) {
  background-color: #f7edf4;
}
#voice .industry-board ul li:nth-of-type(4) {
  background-color: #e5f3f5;
}
#voice .industry-board ul li:not(:last-of-type) {
  margin-bottom: 20px;
}
#voice .aspiration {
  margin-top: 55px;
}
@media screen and (max-width: 768px) {
  #voice .aspiration {
    margin-top: 40px;
  }
}
#voice .aspiration-pie {
  margin: 80px auto 45px;
}
@media screen and (max-width: 768px) {
  #voice .aspiration-pie {
    margin: 90px auto 20px;
  }
  #voice .aspiration-pie svg {
    height: 82vw !important;
    max-height: 400px;
  }
}
#voice .aspiration-chart {
  margin: 55px auto 60px;
}
@media screen and (max-width: 768px) {
  #voice .aspiration-chart {
    margin: 30px auto;
  }
  #voice .aspiration-chart svg {
    height: 53vw !important;
    max-height: 415px;
  }
}
#voice .aspiration-q.question1 {
  margin-top: 75px;
}
@media screen and (max-width: 768px) {
  #voice .aspiration-q.question1 {
    margin-top: 35px;
  }
}
#voice .aspiration-q.question1 dl:first-of-type {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  #voice .aspiration-q.question1 dl:first-of-type {
    margin-bottom: 20px;
  }
}
#voice .aspiration-q.question2 {
  margin-top: 56px;
}
@media screen and (max-width: 768px) {
  #voice .aspiration-q.question2 {
    margin-top: 30px;
  }
}
#voice .job {
  margin-top: 5px;
  padding-bottom: 110px;
}
@media screen and (max-width: 768px) {
  #voice .job {
    padding-bottom: 60px;
    margin-top: 0px;
  }
}
#voice .job .line-first {
  margin: 110px auto 70px;
}
@media screen and (max-width: 768px) {
  #voice .job .line-first {
    margin: 90px auto 30px;
  }
}
#voice .job .notice {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  #voice .job .notice {
    margin-top: 20px;
  }
}
#voice .voice-bttn-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 120px auto;
  color: white;
}
@media screen and (max-width: 768px) {
  #voice .voice-bttn-link {
    margin: 60px auto;
    justify-content: center;
  }
}
#voice .voice-bttn-link > * {
  max-width: calc(50% - 10px);
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #voice .voice-bttn-link > * {
    min-width: 290px;
    padding: 0px 5px;
  }
}
#voice .voice-bttn-link > * span {
  display: block;
  line-height: 6rem;
  border-radius: 30px;
  background-color: #ff8a16;
  text-align: center;
}
#voice .voice-bttn-link > *.active {
  opacity: 0.6;
}
