.yellow .aspiration-title{
  margin-top: 100px;
}
.brief-introduction {
  font-weight: 500;
  color: #333;
  text-align: left;
  margin: 50px 0;
}

.brief-introduction:first-of-type{
  margin: 100px 0 75px;
}

.brief-introduction p{
  letter-spacing: -0.1px;
}

.candidate {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row wrap;
  width: 1140px;
  margin-bottom: -50px;
}

.candidate__child {
  max-width: calc((100% - 80px) / 2);
  width: 100%;
  border: 10px solid #02899f;
  border-radius: 40px;
  margin-right: 20px;
  margin-bottom: 70px;
  padding: 0 30px 40px;
}

.candidate__child__info {
  position: relative;
  z-index: 0;
}

.candidate__child__info figure {
  transform: translateY(-50px);
}

.candidate__child__info figure img{
  width: auto;
}

.candidate__child__info--name {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-align: right;
}

.candidate__child__info--name h3 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #008ea0;
  margin-bottom: 15px;
}

.candidate__child__info--name p {
  background-color: #008ea0;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  padding: 0 15px;
  width: max-content;
  display: table;
  margin-left: auto;
}

.candidate__child__detail {
  font-weight: 500;
  color: #333;
  padding-right: 10px;
}

.candidate__child__detail p:first-of-type {
  margin-bottom: 35px;
}

@media screen and (max-width: 1023px) {
  .candidate {
    width: calc(100% + 20px);
  }
  .candidate__child {
    max-width: calc(50% - 20px);
  }
  .candidate__child__info--name{
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .candidate {
    width: 100%;
  }
  .candidate__child {
    max-width: 100%;
    margin-right: 0;
    padding: 0 20px 30px;
  }
  .candidate__child__info--name p{
    width: auto;
    display: block;
  }
}

.competence h2 {
  background-color: #008ea0;
  padding: 30px 40px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.competence__quote {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.competence__quote__answer {
  background-color: #e5f3f5;
  position: relative;
  z-index: 0;
  padding: 30px;
}

.competence__quote__answer::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #e5f3f5;
  transform: translateY(-50%) rotate(45deg);
}

.competence__quote__candidate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 260px;
  width: 100%;
}

.competence__quote__candidate figure {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 7px solid #008ea0;
  overflow: hidden;
}

.competence__quote__candidate p {
  color: #008ea0;
  font-weight: bold;
}

.competence__quote--right {
  padding-right: 20px;
}

.competence__quote--right .competence__quote__answer::before {
  right: -10px;
}

.competence__quote--right .competence__quote__candidate p {
  margin-right: 15px;
}

.competence__quote--left {
  padding-right: 30px;
  flex-flow: row-reverse nowrap;
}

.competence__quote--left .competence__quote__answer::before {
  left: -10px;
}

.competence__quote--left .competence__quote__candidate {
  flex-flow: row-reverse nowrap;
}

.competence__quote--left .competence__quote__candidate p {
  margin-left: 15px;
}

@media screen and (max-width: 1023px) {
  .competence__quote__answer {
    max-width: calc(50% + 100px);
  }
}
@media screen and (max-width: 767px) {
  .competence__quote{
    flex-flow: column nowrap;
    padding: 0 15px;
  }
  .competence__quote__answer {
    max-width: 100%;
  }
  .competence__quote__candidate{
    max-width: 100%;
    margin-top: 25px;
  }
  .competence__quote--right .competence__quote__answer::before{
    right: 25px;
    top: auto;
    bottom: 0;
    transform: translateY(50%) rotate(45deg);
  }
  .competence__quote--left .competence__quote__answer::before{
    left: 25px;
    top: auto;
    bottom: 0;
    transform: translateY(50%) rotate(45deg);
  }
}